apiVersion: v1
kind: Secret
metadata:
  name: stolon
type: Opaque
data:
  password: {{ stolon_secret_password | default(lookup('password', '/dev/null length=15 chars=ascii_letters')) | b64encode }}
  replpassword: {{ stolon_secret_password | default(lookup('password', '/dev/null length=15 chars=ascii_letters')) | b64encode }}
