## curl -sSL https://raw.githubusercontent.com/sorintlab/stolon/master/examples/kubernetes/stolon-proxy-service.yaml > stolon-proxy-service.yaml

apiVersion: v1
kind: Service
metadata:
  name: {% if stolon_release | default('', true) %}{{ stolon_release }}-{% endif %}stolon-proxy-service
spec:
  ports:
  - port: {{ stolon_proxy_service.port | default(5432) }}
    targetPort: 5432
  selector:
    component: stolon-proxy
    stolon-cluster: {{ stolon_cluster_label }}
{% if stolon_proxy_service.externalIPs | default([]) | length  %}
  externalIPs:
  {{ stolon_proxy_service.externalIPs | to_nice_yaml }}
{% endif %}
