apiVersion: v1
kind: PersistentVolume
metadata:
  name: {% if stolon_release | default('') %}{{ stolon_release }}-{% endif %}stolon-keeper-{{ node.metadata.name }}
  labels:
    component: stolon-keeper
    stolon-cluster: {% if stolon_release | default('') %}{{ stolon_release }}-{% endif %}{{ stolon_cluster }}
spec:
  capacity:
    storage: {{ stolon_storage_size }}
  accessModes:
  - 'ReadWriteOnce'
  persistentVolumeReclaimPolicy: Retain
  storageClassName: {{ stolon_storage_class }}
  local:
    path: {{ stolon_storage_local_path }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ node.metadata.name }}
